body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(228, 228, 228);
  color: rgb(39, 39, 39);
  justify-content: center;
}

.chat {
  margin: 252px;
}

.chat-border {
  margin: auto;
  width: 27%;
  border: 3px solid rgb(99, 99, 99);
  padding: 9px;
  border-radius: 27px;
}

h1,
p {
  text-align: center;
}

.connected-user,
.selected-game {
  color: tomato;
}

.type-box {
  text-align: center;
}

.welcome-to {
  text-align: center;
  margin-bottom: -2.5%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid rgb(39, 39, 39);
  border-radius: 18px;
}

#send:active {
  color: white;
  background-color: rgb(39, 39, 39);
}

#chat-room {
  background-color: rgb(243, 243, 243);
  padding: 2%;
  border-radius: 48px;
  outline: 2px solid rgb(39, 39, 39);
  outline-width: 3px;
}
