* {
  box-sizing: border-box;
}

.column {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 18.9%;
  top: 50%;
  padding: 5px;
  background-image: url(https://media.istockphoto.com/photos/gold-background-golden-polished-metal-with-steel-texture-picture-id1293988714?b=1&k=20&m=1293988714&s=170667a&w=0&h=1McwI39TCx0I8_RSUKtAxtl41KOFDwy68MmSOFDiyGQ=);
  border-radius: 25px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

P {
  text-align: center;
  color: black;
}

h1 {
  text-align: center;
  color: aliceblue;
}

body {
  background-color: black;
}

