* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: rgb(48, 48, 48);
  color: white;
}

.main {
  margin: 150px;
  display: flex;
  align-items: center;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
  align-items: center;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  align-items: center;
  clear: both;
  display: table;
}

P {
  margin-top: 0%;
  text-align: center;
  font-size: 18px;
}

h1 {
  text-align: center;
  margin-bottom: 9px;
}

.column:hover {
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.14);
}

img {
  border: 3px solid rgb(247, 247, 247);
  border-radius: 2%;
}

a {
  text-decoration: none;
}
